<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-nav-bar class="bar-dark">
</ion-nav-bar>
<ion-view>

  <!-- set the tab items -->
  <ion-tabs class="tabs-light tabs-icon-top tabs-color-active-positive" title="Add">
  
    <!-- Add Inventory Tab -->
    <ion-tab title="Inventory" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/add/inv">
      <ion-nav-view name="add-inv"></ion-nav-view>
    </ion-tab>
  
    <!-- Add Asset Tab -->
    <ion-tab title="Asset" icon-off="ion-cash" icon-on="ion-cash" href="#/add/asset">
      <ion-nav-view name="add-asset"></ion-nav-view>
    </ion-tab>
  
    <!-- Add Item Tab -->
    <ion-tab class="tab-item-disabled" title="Item" icon-off="ion-monitor" icon-on="ion-monitor" href="#/add/item">
      <ion-nav-view name="add-item"></ion-nav-view>
    </ion-tab>
  
  
    <!-- Add Location Tab -->
    <ion-tab ng-if="false" title="Location" icon-off="ion-pinpoint" icon-on="ion-pinpoint" href="#/add/location">
      <ion-nav-view name="add-location"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
