<ion-view view-title="Add Asset" class="add-item-page">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-assertive" ng-click="cancel()">
      <i class="icon ion-close-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-balanced" ng-click="done()">
      <i class="icon ion-checkmark-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-content scroll="true">

    <div class="list card">
      <label class="item item-divider">
        Required Information
      </label>
      <label class="item item-input">
        <input type="text" placeholder="ECE Tag">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Item
        </div>
        <select>
          <option>Dell Dimension E520 (Computer)</option>
          <option>Dell Optiplex 360 (Computer)</option>
          <option>Gateway 700G (Monitor)</option>
          <option>Keysight InfiniiVision DSO-X 3012A (Oscilloscope) </option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Status
        </div>
        <select>
          <option>Available</option>
          <option>Deployed</option>
          <option>Loaned</option>
          <option>Disposed</option>
          <option>Not Available</option>
        </select>
      </label>
    </div>
    <div class="list card">
      <label class="item item-divider">
        Additional Information
      </label>
      <label class="item item-input">
        <input type="text" placeholder="VU Tag">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Unit Tag">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Service Tag">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Serial Number">
      </label>
      <label class="item item-input">
        <div class="input-label">
          Purchase Date
        </div>
        <input type="date">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Owner
        </div>
        <select>
          <option>Clayton Bannan</option>
          <option>Rebeka Karrant</option>
          <option>Pritpal Singh</option>
          <option>Brian Kim </option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Holder
        </div>
        <select>
          <option>Clayton Bannan</option>
          <option>Rebeka Karrant</option>
          <option>Pritpal Singh</option>
          <option>Brian Kim </option>
        </select>
      </label>
      <label class="item item-input">
        <div class="input-label">
          Value ($)
        </div>
        <input type="number">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="IPv4 Address">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Home
        </div>
        <select>
          <option>CEER 008</option>
          <option>CEER 212</option>
          <option>CEER 307</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Current
        </div>
        <select>
          <option>CEER 008</option>
          <option>CEER 212</option>
          <option>CEER 307</option>
        </select>
      </label>
      <label class="item item-input">
        <textarea placeholder="Comments"></textarea>
      </label>
    </div>

    <div class="list card">
      <label class="item item-divider">
        Asset Image
      </label>
      <div class="item item-image">
        <img src="img/img.png">
      </div>
    </div>

    <div class="list card">
      <label class="item item-divider">
        Receipt Image
      </label>
      <div class="item item-image">
        <img src="img/img.png">
      </div>
    </div>
  </ion-content>
</ion-view>
