<ion-view view-title="inv">
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="helpMenu()"><i class="ion-help"></i></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="logout()"><i class="ion-log-out"></i></button>
  </ion-nav-buttons>
  <ion-content>
  
  </ion-content>
  <div class="bar bar-footer bar-dark">
    <button class="button button-clear" ng-click="locationMenu()"><i class="ion-pinpoint"></i></button>
    <h1 class="title"><button class="button button-clear">Reports</button></h1>
    <button class="button button-clear" ng-click="add()"><i class="ion-plus-round"></i></button>
  </div>
</ion-view>
